/** PAGE FORMATTING*/

body {
  font-family: 'Volkhov', serif;
  letter-spacing: 0.1em;
  color: #424b51;
  font-weight: 400;
  font-size: 16px;
  background-color: #e5e5d7;
  min-width: 995px;
}

.page {
  min-width: 995px;
  width:expression(document.body.clientWidth < 995? "995px": "auto" );
}

.container {
  margin-left: 2em;
  margin-top: 3em;
  min-width: 1000px;
}

/** NAV*/

nav.nav-bar {
  height: 7em;
  background: #363e43;
  padding: 20px 40px;
  /*position: fixed;*/
  z-index: 2;
  width: 100%;
  top: 0;
}

.nav-links a {
  margin-left: 30px;
  color: white;
  text-transform: uppercase;
  font-size: 1em;
  text-decoration: none;
}

.nav-right {
  position: absolute;
  right: 5%;
  margin-top: 1em;
}

.browse {
  position: absolute;
  right: 5%;
  margin-top: 3em;
}

.nav-logo {
  display: inline-block;
  margin-top: -2.5em;
  margin-left: 2em;
}

.search {
  text-transform: uppercase;
  color: white;
  position: absolute;
  left: 30%;
  margin-right: 2em;
  margin-top: 1em;
  display: inline;
}

.search-box {
  display: inline;
  height: 30;
  font-size: 30;
  padding: 10px;
}

.search-button  {
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/** SIGNUP/LOGIN/CHANGE PASSWORD FORMS */

.user-form {
  padding: 1em 0;
  padding-bottom: 2em;
  margin-left: 2em;
  background-color: #e5e5d7;
  text-align: left;
  width: 20em;
  border-radius: 1px;
}

.form-heading {
  text-transform: uppercase;
}

.form-input-title {
  text-align: left;
  width: 350px;
}

.form-check-box {
}

.form-text-input {
  padding-bottom: 1em;
  size: 30;
}

.submit-button{
  padding-bottom: 1em;
  text-align: left;
  width: 45em;
  border-radius: 1px;
}

/** SEARCH RESULTS */

.search-results {
  text-transform: uppercase;
}

.search-results-list {
  padding-bottom: 1em;
}

.search-results-list a {
  size: 30;
  color: #363e43;
  margin-left: -40px;
}

/** USER SHOW */

.user {
  margin-left: -10px;
  margin-right: -10px;
  height: 17em;
  background: white;
  width: 66%;
  border-bottom: ridge;
}

.user-img {
  padding-left: 2em;
}

.job-left {
  padding-left: 2em;
  padding-right: 2em;
}

.job-right {
  padding-right: 2em;
  text-align: right;
  margin-top: 1em;
}

.job {
  margin-left: -10px;
  margin-right: -10px;
  background: white;
  width: 66%;
}

.job-description {
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 2em;
  padding-right: 2em;
  text-align: left;
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 1em;
}

.link-see-others {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

/** USER INDEX */

.users {
  padding: 1em 0;
  padding-bottom: 2em;
  margin-left: 2em;
  background-color: #e5e5d7;
  text-align: left;
  width: 20em;
  border-radius: 1px;
}

/*.restaurant-link a {
  margin-left: 30px;
  color: white;
  text-transform: uppercase;
  font-size: 0.8em;
  text-decoration: none;
}*/
/*#f5f5dc
logo-color:
    color: rgba(210,113,26,0.64);*/
