/** PAGE FORMATTING*/

body {
  font-family: 'Volkhov', serif;
  letter-spacing: 0.1em;
  color: #433D36;
  font-weight: 400;
  font-size: 16px;
  background-color: #E5DFD7;
  /*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEE7DC), to(#E5DFD7));*/
  min-width: 995px;
}

.page {
  min-width: 995px;
  width:expression(document.body.clientWidth < 995? "995px": "auto" );
}

.container {
  margin-left: 2em;
  margin-top: 3em;
  min-width: 1000px;
  /*color: #363e43;*/
}

/** NAV*/

nav.nav-bar {
  height: 3em;
  /*background: #433D36;*/
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5A5148), to(#433D36));
  /*padding: 20px 40px;*/
  /*position: fixed;*/
  z-index: 2;
  width: 100%;
  top: 0;
}

.nav-links a {
  margin-left: 30px;
  color: white;
  text-transform: uppercase;
  font-size: 1em;
  text-decoration: none;
}

.nav-right {
  position: absolute;
  right: 5%;
  margin-top: 1em;
}

.browse {
  position: absolute;
  right: 5%;
  margin-top: 3em;
}

.nav-logo {
  display: block;
  margin-top: -4.5em;
  margin-left: 2em;
}

.search {
  text-transform: uppercase;
  color: white;
  position: absolute;
  left: 30%;
  margin-right: 2em;
  display: block;
}

.search-box {
  display: inline;
  height: 30;
  font-size: 30;
  padding: 10px;
}

input.search-button.submit img {
  /*content: &#x1f50d;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 0.5em;
}

/** NAVBAR2 */

.nav2.nav-bar {
  height: 3em;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ED903F), to(#D3711B));
  /*#EDB23F;*/
}

.nav-links2 a {
  margin-left: 6em;
  color: #433D36;
  text-transform: uppercase;
  font-size: 1em;
  text-decoration: none;
}

.nav-right2 {
  position: absolute;
  right: 5%;
  margin-top: 0.75em;
}

/** SIGNUP/LOGIN/CHANGE PASSWORD FORMS */

.user-form {
  padding: 1em 0;
  padding-bottom: 2em;
  margin-left: 2em;
  background-color: #E5DFD7;
  text-align: left;
  width: 20em;
  border-radius: 1px;
}

.form-heading {
  text-transform: uppercase;
}

.form-input-title {
  text-align: left;
  width: 350px;
}

.form-check-box {
}

.form-text-input {
  padding-bottom: 1em;
  size: 30;
}

.submit-button{
  padding-bottom: 1em;
  text-align: left;
  width: 45em;
  border-radius: 1px;
}

.link-back{
  margin-top: 1em;
  margin-bottom: 1em;
}

.link-back a{
  color: #433D36;
}

/** SEARCH RESULTS */

.upcase {
  text-transform: uppercase;
}

.search-results-list {
  padding-bottom: 1em;
}

.search-results-list a {
  size: 30;
  color: #433D36;
  margin-left: -40px;
}

/** USER SHOW */

.user {
  margin-left: -10px;
  margin-right: -10px;
  height: 17em;
  background: white;
  width: 66%;
  border-bottom: ridge;
}

.user-img {
  padding-left: 2em;
}

.job-left {
  padding-left: 2em;
  padding-right: 2em;
}

.job-right {
  padding-right: 2em;
  text-align: right;
  margin-top: 1em;
}

.row-block {
  margin-left: -10px;
  margin-right: -10px;
  background: white;
  width: 66%;
  border-radius: 0.3em;
}

.job-description {
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 2em;
  padding-right: 2em;
  text-align: left;
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 1em;
}

.link-see-others{
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.link-see-others a{
  color: #433D36;
}
/** USER INDEX */

.row-break {
  border-bottom: ridge;
}

.row-break a{
  color: #433D36;
}

.hide {
  display: none;
}

.img-fhrs {

}

/** NEW REVIEW */

.review-form {
  padding: 1em 0;
  padding-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
  background-color: white;
  text-align: left;
  border-radius: 1px;
}

.review-text-input textarea {
  padding-bottom: 1em;
  size: 10;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row-block-no-margin {
  margin-left: -10px;
  margin-right: -10px;
  background: white;
}

.col-break-right {
  border-right: ridge;
}
.col-block-no-margin {
  margin-left: -10px;
  margin-right: -10px;
  background: white;
  height: 20em;
}

/** JUST TESTING */

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
  /*padding-left: 2em;
  padding-right: 2em;
  margin-left: -10px;
  margin-right: -10px;
  height: 20em;
  background: white;
  width: 66%;


  padding: 1em 0;
  padding-bottom: 2em;
  margin-left: 2em;
  background-color: #e5e5d7;
  text-align: left;
  width: 20em;
  border-radius: 1px;*/

/*.restaurant-link a {
  margin-left: 30px;
  color: white;
  text-transform: uppercase;
  font-size: 0.8em;
  text-decoration: none;
}*/
/*#f5f5dc
logo-color:
    color: rgba(210,113,26,0.64);*/
/*change logo color to:
#ED903F*/
