body {
  font-family: 'Volkhov', serif;
  letter-spacing: 0.1em;
  color: #424b51;
  font-weight: 400;
  font-size: 16px;
  background-color: #e5e5d7;
}

.container {
  margin-left: 2em;
  margin-top: 3em;
}

/** NAV*/

.user-nav {
  height: 70px;
  background: #363e43;
  padding: auto 0;
  /*position: fixed;*/
  z-index: 2;
  width: 100%;
  top: 0;
}

.nav-right {
  position: fixed;
  right: 5%;
  margin-top: 1em;
}

.browse {
  position: fixed;
  right: 5%;
  margin-top: 3em;
}


.nav-links a {
  margin-left: 30px;
  color: white;
  text-transform: uppercase;
  font-size: 0.8em;
  text-decoration: none;
}

.nav-logo {
  display: inline-block;
  margin-top: -2.5em;
  margin-left: 2em;
}

.search {
  text-transform: uppercase;
  color: white;
  position: fixed;
  left: 35%;
  margin-right: 2em;
  margin-top: 1em;
  display: inline;
}

.search-box {
  display: inline;
  height: 30;
  font-size: 30;
  padding: 10px;
}

.search-button  {

  background-repeat: no-repeat;
  background-attachment: fixed;
}

.user-form {
  padding: 1em 0;
  padding-bottom: 2em;
  margin-left: 2em;
  background-color: #e5e5d7;
  text-align: left;
  width: 20em;
  border-radius: 1px;
}

.form-heading {
  text-transform: uppercase;
}

.form-input-title {
  text-align: left;
  width: 350px;
}

.form-check-box {
}

.form-text-input {
  padding-bottom: 1em;
  size: 30;
}

.submit-button{
  padding-bottom: 1em;
  text-align: left;
  width: 45em;
  border-radius: 1px;
}

.form-content {
}


/*#f5f5dc
logo-color:
    color: rgba(210,113,26,0.64);*/
